<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Brent Cafe</title>

    <link rel="shortcut icon" href="images/brent.jpg">
    <style>body{
            font-family: latha;
            color:white;
            background: linear-gradient( rgba(0,0,0,0.65),rgba(0,0,0,0.65),rgba(0,0,0,0.38),rgba(0,0,0,0)
            )
            ,url('images/foodd.jpg')no-repeat;
            background-size: cover;

        }
        .box{ width: 900px;
            float:right;
            border:1px solid ;}

        .box ul li{
            width: 120px;
            float:left;
            margin: 10px auto;
            text-align: center;
        }

        .box ul li a{ text-decoration: none;
            color:darkgray;}

        .box ul li:hover{ background-color: #D4AF37;}
        .box ul li a:hover{ color:white;}

        .wd{
            width: 300px;
            height: 539px;
            background-color: black;
            opacity: 0.9;
            padding: 55px;
        }

        .wd h1{
            text-align: center;
            text-transform: uppercase;
            font-weight: 100;
        }

        .wd h4{
            text-align: justify;
            color:  #D4AF37;
            font-weight: normal;
        }

        .wd h2{
            text-align: center;
            text-transform: uppercase;
            font-weight: normal;
            margin: 40px auto;
        }

        .opt form , input[type="button"]{
            background-color: black;
            color:white;
            padding:10px;
            margin:-14px auto;
            padding-left: 50px;
            padding-right: 50px;
            text-align: center;
        }

        form, input[type="button"]:hover{background-color: #D4AF37;}</style>
</head>
<body>
<div class="box">
    <ul type="none">
        <li><a href=""> <%=var1%></a></li>
        <li><a href="menu.html"> <%=var2%></a></li>
        <li><a href=""> <%=var3%></a></li>
        <li><a href=""> <%=var4%></a></li>
        <li><a href="contact.html"> <%=var5%></a></li>

    </ul>
</div>

<div class="wd">

    <h1> <%=var6%></h1>

    <h4> <%=var7%></h4>

    <h2> <%=var8%></h2>
    <div class="opt">
        <form action="" method="post">
            <input type="button" value="Start Now">
        </form>

    </div>


</div>
</body>
</html>